mixin saved-search(name, path1, path2, path3, date)
  li.saved-search.border-bottom
    h3.tight= name
    p.text-grey.tight
      span= path1
      span , 
      span= path2
      span , 
      span= path3
    p.text-grey.tight Created: 
      span= date
    i.icon.icon-cross

ul.context-menu.text-left#saved-searches-context-menu
  +saved-search("Pea Coats", "Catwalk", "Coats", "Pea Coats", "03.18.2016")
  +saved-search("Pea Coats", "Catwalk", "Coats", "Pea Coats", "03.18.2016")
  +saved-search("Pea Coats", "Catwalk", "Coats", "Pea Coats", "03.18.2016")
  +saved-search("Pea Coats", "Catwalk", "Coats", "Pea Coats", "03.18.2016")
  +saved-search("Pea Coats", "Catwalk", "Coats", "Pea Coats", "03.18.2016")
  +saved-search("Pea Coats", "Catwalk", "Coats", "Pea Coats", "03.18.2016")
  +saved-search("Pea Coats", "Catwalk", "Coats", "Pea Coats", "03.18.2016")