mixin file(type, img, original, comments, filename, ...caption)
  .file.file-grid-view.hoverable.show-caption(class="file-type-" + type)
    img(src=img)
    input.file-checkbox(type="checkbox")
    .file-heart.hidden-workspace-trash
    
    .caption-container.block-xs
      p.text-grey.text-capitalize.tight.hidden-image-library.hidden-mood-library= type
      ul.clean
        each item in caption
          li= item
        li.filename= filename

    .file-utilities.overflow-hidden
      .icon-container.text-center
        i.icon.icon-save.btn-save.hidden-workspace.hidden-workspace-trash
        i.icon.icon-download.hidden-workspace-trash
        i.icon.icon-print.btn-print.hidden-image-library.hidden-workspace-trash
        i.icon.icon-reset.btn-restore.hidden-image-library.hidden-workspace-folder.hidden-workspace-favourites
        i.icon.icon-trash.btn-delete.hidden-image-library.hidden-workspace-folder.hidden-workspace-favourites
        i.icon.icon-ellipsis.btn-item-menu.hidden-workspace-trash
        include context-menus/item-context-menu

    .flag-container
      if original == true
        .wgsn-original-content.wgsn-font.inline-block.has-tooltip(data-tooltip="WGSN Original Content") WGSN Asset

      if comments == true
        .file-comment.hidden-workspace-trash
          i.text-right.icon.icon-comment-filled
          span.inline-block &nbsp;18


mixin file-details-view(type, img, original, comments, filename, ...caption)
  .file.file-details-view.overflow-auto.block-bot-md(class="file-type-" + type)
    .row
      .col-xs-12.col-sm-7
        img.hoverable(src=img width="100%")
        input.file-checkbox(type="checkbox")
        .file-heart: i.icon.icon-heart-filled.hidden-workspace-trash

        if comments == true
          i.file-comment.icon.icon-comment-filled

      .col-xs-12.col-sm-5
        .caption-container.block-ver-sm.block-hor-xs
          .block-bot-sm
            ul.clean
              li.wgsn-font= type
              each item in caption
                li.caption.text-bold= item

          .block-right-sm.block-bot-sm.inline-block
            ul.clean
              li.tight Image name:
              li.tight Format:
              li.tight Market:
              li.tight View:
              li.tight Category:
          
          .block-right-sm.block-bot-sm.inline-block
            ul.clean
              li.tight yzy_aw16_003.jpg
              li.tight JPG
              li.tight Menswear
              li.tight Complete look
              li.tight Showroom
          
          .block-top-xxs.block-bot-sm.border-top
            ul.clean.file-utilities
              li.block-xs.tight.inline-block.hoverable.btn-open: i.icon.icon-export
              li.block-xs.tight.inline-block.hoverable.btn-save: i.icon.icon-save
              li.block-xs.tight.inline-block.hoverable.btn-download: i.icon.icon-download
              li.block-xs.tight.inline-block.hoverable.btn-print: i.icon.icon-print
              li.block-xs.tight.inline-block.hoverable: i.icon.icon-crop
              li.block-xs.tight.inline-block.hoverable.btn-send: i.icon.icon-paper-plane
              li.block-xs.tight.inline-block.hoverable.hidden-image-library: i.icon.icon-trash